.de_container {
    margin-top: 20px;
}

.crumb_wrap {
    height: 25px;
}

.crumb_wrap a {
    margin-right: 10px;
}

.preview_wrap {
    width: 400px;
    height: 590px;
}

.preview_img {
    height: 398px;
    border: 1px solid #ccc;
}

.preview_list {
    position: relative;
    height: 60px;
    margin-top: 60px;
    /* background-color: pink; */
}

.list_item {
    width: 320px;
    height: 60px;
    /* background-color: purple; */
    margin: 0 auto;
}

.list_item li {
    float: left;
    width: 56px;
    height: 56px;
    margin: 0 2px;
    border: 2px solid transparent;
}

.list_item .current {
    border-color: #c81623;
}

.arrow_pre,
.arrow_next {
    position: absolute;
    top: 15px;
    width: 22px;
    height: 32px;
}

.arrow_pre {
    left: 0;
}

.arrow_next {
    right: 0;
}


/* .list_item li:hover {
    border: 2px solid red;
} */

.iteminfo_wrap {
    width: 718px;
    /* background-color: purple; */
}

.sku_name {
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    /* color: ; */
}

.news {
    height: 32px;
    color: #e12228;
}

.summary_price,
.summary_promotion {
    position: relative;
    background-color: #fee9eb;
    padding: 10px 0;
}

.summary dl {
    overflow: hidden;
}

.summary dt,
.summary dd {
    float: left;
}

.summary dt {
    width: 60px;
    line-height: 36px;
    padding-left: 10px;
}

.price {
    font-size: 24px;
    color: #e12228;
}

.summary_price a {
    color: #c81623;
}

.remark {
    position: absolute;
    top: 18px;
    right: 10px;
}

.summary_promotion {
    padding-top: 0;
}

.summary_promotion dd {
    width: 450px;
    line-height: 36px;
}

.summary_promotion em {
    display: inline-block;
    width: 40px;
    height: 22px;
    line-height: 22px;
    background-color: #c81623;
    text-align: center;
    color: #fff;
}

.summary_support dd {
    line-height: 36px;
}

.choose_color a {
    display: inline-block;
    width: 80px;
    height: 41px;
    background-color: #f7f7f7;
    border: 1px solid #ededed;
    text-align: center;
    line-height: 41px;
}


/* .choose_color a .current {
    border-color: #c81623;
} */

.summary a.current {
    border-color: #c81623;
}

.choose_version {
    margin: 9px 0;
}

.choose_version a {
    display: inline-block;
    /* width: 62px; */
    height: 33px;
    padding: 0 12px;
    background-color: #f7f7f7;
    border: 1px solid #ededed;
    text-align: center;
    line-height: 33px;
    /* margin-left: 8px; */
}

.choose_volum {
    margin-top: 9px;
}

.choose_volum a {
    display: inline-block;
    /* width: 58px; */
    height: 32px;
    padding: 0 12px;
    background-color: #f7f7f7;
    border: 1px solid #ededed;
    text-align: center;
    line-height: 32px;
}

.choosebtns {
    margin-top: 20px;
}

.choose_amount {
    position: relative;
    float: left;
    width: 50px;
    height: 46px;
}

.choose_amount input {
    width: 33px;
    height: 44px;
    border: 1px solid #ccc;
    text-align: center;
}

.addcar {
    float: left;
    width: 142px;
    height: 46px;
    background-color: #c81623;
    text-align: center;
    line-height: 46px;
    font-size: 18px;
    color: #fff;
    margin-left: 10px;
    font-weight: 700;
}

.add,
.reduce {
    position: absolute;
    width: 15px;
    height: 22px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    text-align: center;
    line-height: 22px;
}

.add {
    top: 0;
    right: 0;
}

.reduce {
    bottom: 0;
    right: 0;
    cursor: not-allowed;
}

.aside {
    float: left;
    width: 208px;
    /* height: 1000px;  不给高，撑开盒子 */
    border: 1px solid #ccc;
}

.tab_list {
    overflow: hidden;
    height: 34px;
}

.tab_list li {
    float: left;
    height: 33px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 33px;
}

.first {
    width: 104px;
}

.second {
    width: 103px;
    border-left: 1px solid #ccc;
}

.tab_list .current {
    background-color: #fff;
    border-bottom: 0;
    color: red;
}

.tab_con {
    padding: 0 10px;
}

.tab_con li {
    border-bottom: 1px solid #ccc;
}

.tab_con li h5 {
    /* 超出文字省略号显示 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}

.aside_price {
    font-weight: 700;
    margin: 10px 0;
}

.as_addcar {
    display: block;
    width: 88px;
    height: 26px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    margin: 10px auto;
    text-align: center;
    line-height: 26px;
}

.detail {
    float: left;
    width: 978px;
    height: 1000px;
    border: 1px solid #ccc;
    margin-left: 10px;
}